@font-face {
	font-family: 'iconsPortifa';
	src:url('fonts/iconsPortifa.eot?kpi6su');
	src:url('../fonts/iconsPortifa.eot?kpi6su#iefix') format('embedded-opentype'),
		url('../fonts/iconsPortifa.ttf?kpi6su') format('truetype'),
		url('../fonts/iconsPortifa.woff?kpi6su') format('woff'),
		url('../fonts/iconsPortifa.svg?kpi6su#iconsPortifa') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconsPortifa';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
	content: "\e900";
}
.icon-github:before {
	content: "\e901";
}
.icon-neuronioLogo {
	font-size: 144px;
	&:before {
		content: "\e902";
	}
}
.icon-twitter:before {
	content: "\e903";
}