@import url(https://fonts.googleapis.com/css?family=Roboto:100italic,300,300italic,400,400italic,500italic,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic,700italic);

@import "icons";
@import "settings";

h1, h2, h3, h4, h5, p, * {
	font-family: $font-default;
	font-weight: 300;
}
h1 {
 	font-size: $h1-size;
    border-bottom: 2px solid #000;
    font-weight: 900;
}

h2 {
	font-size: $h2-size;
	font-weight: 500;
}

h3 {
	font-size: $h3-size;
	font-weight:300;
}
p {
	font-size: $text-size;
	color: $text-color;
}
a {
	color: $links-color;
	&:hover {
		color: darken($links-color, 20%);
	}
}
strong, .bold {
	font-weight: 700;
}

header {
	padding-top: 100px;
	background-size: auto, 315px 100px, 313px 476px;
	background-repeat: no-repeat;
	background-image: url(../images/neuronio1.svg), radial-gradient(ellipse, white 50%, transparent 100%) , linear-gradient(to bottom, #EFEFEF, #EFEFEF); 
	animation: brilho 7s linear infinite;

	.containerLogo {
		.detalheLogo {
			margin-top: -30px;
		}
	}
	nav {
		position: fixed;
		width: 100%;
		background: rgba(255,255,255,.8);
		padding: 10px;
		top: 0;
		left: 0;

		ul {
			li {
				display: inline-block;
				margin-right: 10px;
				margin-left: 10px;
				a {
					text-transform: uppercase;
					color: $nav-links-color;
					font-weight: 500;  
					&:hover {
						color: $highlight-color;
					}

				}
			}
		}

		@media only screen and (max-width: 40em) {
			
			text-align: right;
			&.collapse {
				label {  
				  cursor: pointer;
				  margin-right: 20px;
				  font-weight: 800;
				  color: #757575;
				}
				#menu-toggle {
				  display: none; /* hide the checkbox */
				}
				ul {
				  display: none;
				  li {
				  	display: block;
				  }
				}
				#menu-toggle:checked + ul {
				  display: block;
				}
			}



		} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

	}
	.listSocialMidias {
		margin: 35px 0	;
		li {
			display: inline-block;
			margin: 0 5px;
			a {
				background: #000;
				border-radius: 100%;
				color: #FFF;
				width: 30px;
				height: 30px;
				display: block;
				text-align: center;
				font-size: $text-size;
				> i {
					display: inline-block;
					padding-top: 5px;
				}
				&:hover {
					background: #353535;
				}
			}
		}
	}
}

.linha {
	display: block;
	height: 50px;
	border-top: 1px solid #A4A4A4;
	margin-top: 50px;
}
.posts {
	> ul {
		margin-left: 20px;
		> li {
			margin-bottom: 20px;
		}
	}
	h4 {
		font-size: $h4-size;
		margin-bottom: 0;
		line-height: 1.2em;
		a {
			background: $highlight-color;
			color: #000;
			text-transform: uppercase;
			font-weight: 400;
			font-family: $font-condensed;
		}
	}
	.dataPost {
		margin-bottom: 0;
	}
}

.chamadasResume.listas ul {

	list-style-position: outside;
	li:before {
		margin: 0 0 20px 20px; 
		content: "\2605";
	}

}


main {
	padding-bottom: 160px;
	.chamadasHome {
		padding-top: 70px;
	}
}
.portifolioItens {
	li {
		h5 {
			font-weight: 700;
		}
		p {
			font-size: .9em;
		}
	}



}
.portifolioTimeline {
		li {
			margin:0;
			border-left:1px solid #000;
			.point {
				cursor: pointer;
				padding-top:15px;
				&:hover {
					> img, > .box {
						margin-left: -35px;
					}
					> div.infos {
						margin-left: 25px;
					}
				}
				> .box {
					display: block;
					width: 40px;
					height: 40px;
					background-color: $highlight-color;
				}
				> img, > .box {
					margin-left:-25px;
					float: left;
					-webkit-transition: all 200ms ease;
					-moz-transition: all 200ms ease;
					-ms-transition: all 200ms ease;
					-o-transition: all 200ms ease;
				}
				> div.infos {
					margin-left: 15px;
					float: left;
					-webkit-transition: all 200ms ease;
					-moz-transition: all 200ms ease;
					-ms-transition: all 200ms ease;
					-o-transition: all 200ms ease;
					transition: all 200ms ease;
					h5 {
						margin-bottom: 0;
					}
				}
			}
			.content {
				display: none;
				padding-bottom: 50px;
				padding-left: 40px;
				.images {
					img {
						width: 100%;
					}
				}
			}
		}

		a img {
			background: transparent;
			padding: 0;
			margin: 0;
			width: 100%;
			height: auto;
		}
		.gallery {

			.column {
				margin-bottom: 20px;	
			}
		}

}

.no-js {
	.portifolioTimeline {
		.content {
			display: block;
		}
	}
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	ul {
		text-align: center;
		padding: 8px 0;
		display: block;
		width: 100%;
		background: #000;
		margin: 0;
		li {
			display: inline-block;
			margin: 0 10px;
			a {
				color: #fff;
				font-weight: 500;
				&:hover {
					color: $highlight-color;
				}
			}
		}
	}
	
	p {
		width: 100%;
		text-align: center;
		margin: 0;
		background: $highlight-color;
		font-size: .8em;
		padding: 5px 0;
	}
}


@keyframes brilho {
	0% { 
		background-position: 0px 0px, 0px -200px, 1px 1px;
	}
	95% { 
	background-position: 0px 0px, 0px -200px, 1px 1px;
	}
	100% { 
	background-position: 0px 0px, 0px 300px, 1px 1px;
	}
}
