$links-color: #D9C611;
$text-color: #000;
$nav-links-color: #000;
$highlight-color: #FFE037;

$font-default: 'Roboto';
$font-condensed: 'Roboto Condensed';

$text-size: 1em;
$h1-size: 1.8em;
$h2-size: 1.4em;
$h3-size: 1.4em;
$h4-size: 1.4em;
